# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Hyphenate
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Info.plist
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallBuilderDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallEnum.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallLocalView.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallManagerDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallOptions.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallRemoteView.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCallSession.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMChatManagerDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMChatroom.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMChatroomManagerDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMChatroomOptions.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMClient+Call.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMClient.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMClientDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCmdMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCommonDefs.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMContactManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMContactManagerDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMConversation.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMCursorResult.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMDefine.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMError.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMErrorCode.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMFileMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMGroup.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMGroupManagerDelegate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMGroupOptions.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMGroupSharedFile.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMImageMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMLocationMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMMessage.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMOptions+PrivateDeploy.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMOptions.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMPageResult.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMPushOptions.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMSDK.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMSDKFull.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMTextMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMVideoMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/EMVoiceMessageBody.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/Hyphenate.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/IEMCallManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/IEMChatManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/IEMChatroomManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/IEMContactManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Headers/IEMGroupManager.h
TestIMDemo/HyphenateFullSDK/Hyphenate.framework/Modules/module.modulemap
